footer {
  background-color: var(--app-background-dark-color);
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px
}

footer > a > img {
  width: 150px;
  margin-bottom: 10px;
}